*{
  margin: 0px;
  padding: 0px;
}

input, select{
  padding: 5px;
  margin: 2px;
}

button{
  width: 50px;
  height: 50px;
  padding: 5px ;
  background-color: rgb(107, 107, 107);
  border: 6px rgb(152, 152, 152) outset;
  cursor: pointer;
}

button:active{
  background-color: rgb(150, 150, 150);
  border: 6px rgb(152, 152, 152) inset;
}
