*{
  margin: 0px;
  padding: 0px;
}

html{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form,h1{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

form{
  margin: 20px;
  padding: 10px;
  background-color: rgb(110, 179, 213);
  border-radius: 20px;
}

h1{
  margin: 20px;
  padding: 15px;
  background-color: rgb(80, 135, 163);
  border-radius: 20px;
  color: whitesmoke;
  
}

/* Centramos el contenido */
body{
  display: grid;
  place-content: center;
  align-items: center;
  background-color: rgb(206, 236, 236);
  margin: 50px;
}

/* Para que el tablero no se deforme en pantallas o ventanas pequeñas */
div{
  display: flex;
  flex-wrap: nowrap;
}

p{
  display: flex;
  align-items: center;
  justify-content: space-around;
}


input, select{
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
}

img{
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: rgb(229, 232, 147);
  border: 3px solid rgb(25, 84, 50);
  border-radius: 20px;
}

#flag,#time{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin: 20px;
  padding: 10px;
  background-color:rgb(25, 84, 50);
  border-radius: 20px;
  color: whitesmoke;
}

#interfaz{
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: rgb(121, 216, 123);
  border-radius: 20px;
  border: 3px solid rgb(25, 84, 50);
  margin: 20px;
}

#tutorial{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 20px;
  padding: 10px;
  background-color: rgb(143, 202, 232);
  border-radius: 20px;
}


button{
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: slategrey;
  border: 4px rgb(49, 42, 95) solid;
  cursor: pointer;
  font-weight: bold;
  font-size: larger;
  border-radius: 10px;
  margin: 1px;
}



/* -------  CLASES PARA EVENTOS  ------- */

.bomba{
  width: 50px;
  height: 50px;
  padding: 5px ;
  background-image: url('img/bomba.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: darkorange;
  border: 3px solid rgb(145, 80, 0);
  cursor: pointer;
}

.bandera{
  width: 50px;
  height: 50px;
  padding: 5px ;
  background-image: url('img/flag.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(32, 95, 79);
  border: 3px rgb(18, 52, 43) solid;
  cursor: pointer;
}

.numero{
  background-color: rgb(57, 161, 102);
  border: 1px solid rgb(25, 84, 50);
  color: whitesmoke;
  font-size: x-large;
  font-weight: bold;
}

.descubierto{
  width: 50px;
  height: 50px;
  padding: 5px ;
  background-color: rgb(57, 161, 102);
  border: 1px solid rgb(25, 84, 50);
}


